@font-face {
    font-family: poppins;
    src: url(Poppins/OFL.txt);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#000,#00C6FF,rgb(142, 142, 142), #00C6FF,#000);
}

.container {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.post header {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 17px 0;
    border-bottom: 1px solid #bfbfbf;
}

.post form {
    margin: 20px 25px;
}

.post form :where(.content, .details .privacy)  {
    display: flex;
    align-items: center;
}

.post form .content img {
    max-width: 52px;
}

.post form .content .details {
    margin: -3px 0 0 12px;
}

form .content .details p {
    font-size: 17px;
    font-weight: 500;
}

form .content .details .privacy {
    cursor: pointer;
    max-width: 98px;
    font-size: 11px;
    padding: 0 10px;
    margin-top: 3px;
    border-radius: 5px;
    background: #e4e6eb;
    justify-content: space-between;
}

.details .privacy span {
    font-size: 13px;
    font-weight: 500;
    margin-top: 1px;
}

.details .privacy i:last-child {
    font-size: 13px;
    margin-left: 1px;
}

.post form :where(textarea, button) {
    width: 100%;
    outline: none;
    border: none;
}

.post form textarea {
    padding: 8px;
    resize: none;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 10px;
    /* border: 2px dotted #000; */
    min-height: 100px;
}

.post form :where(.theme-emoji, .option) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form .theme-emoji img {
    cursor: pointer;
}

form .theme-emoji:last-child {
    max-width: 24px;
}

form.option {
    height: 57px;
    border-radius: 7px;
    padding: 0 15px;
    margin: 15px 0;
    border: 1px solid #b9b9b9;
}

form .option p {
    color: #595959;
    font-size: 15px;
    font-weight: 500;
}
form .option :where(.list, li) {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .option .list li {
    list-style: none;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.option .list li:hover {
    background: #bbbbbb;
}

.option .list li img {
    cursor: pointer;
    width: 23px;
}

form button {
    height: 53px;
    cursor: no-drop;
    font-size: 18px;
    font-weight: 500;
    color: #bcc0c4;
    border-radius: 7px;
    background: #e2e5e9;
}

form textarea:valid ~ button {
    color: #000;
    cursor: pointer;
    background: linear-gradient(rgb(142, 142, 142),#00C6FF,rgb(142, 142, 142), #00C6FF,rgb(142, 142, 142));
}
